/*Major Inherit Styles*/
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
  background-color:#FFFFFF; 
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 4%;
  text-decoration: underline;
}



ul {
  list-style-type: none;
  margin:0;
  padding-left: 0;
}
h1,h2,h3,h4,h5,h6,p{
  margin:0;
}
img{
  display: block;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


/*Logo styles*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;

}
.navigation .accent {
  color: #2e2f42;
}

.footer .accent {
  color: #f4f4fd;
}

/* Header Navigation Styles*/
.navigation{
  border-bottom: 1px solid #e7e9fc;

}
.navigation .container {
  display: flex;
  justify-content: space-between;
}
.nav-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.nav-list{
  display:flex;
  
  gap: 40px;
}
.nav-page .logo{

  margin-right: 76px;
}
.navigation-link {
  
  font-weight: 500;

  
  letter-spacing: 0.02em;

  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
  text-decoration: none;
}
.navigation-link:active {
  color: #404bbf;
  text-decoration: underline;
}

.header-contacts{
  
  font-style: normal;
}
.contact-list{
  display:flex;
  justify-content: space-between;
  gap: 40px;

}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  text-decoration: none;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

header {
  background-color: #ffffff;
}




/*  Section Styles*/

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.ordr-section {
  padding: 188px 0;

  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
}
.advantages-section {
  background-color: #ffffff;
  text-align: left;
  
}
.advantages-list{
  display: flex;
  gap: 24px;
 justify-content: space-between;
}
.advantages-item
  {
width: calc((100% - 72px) / 4);
}

.team-section {
  background-color: #f4f4fd;
  text-align: center;
}
.team-item{
  background-color: #FFFFFF;
   width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}





.team-section .container .team-list{
  display: flex;
  gap:24px;
}

/*Card*/
.card-text{
  padding: 32px 0px;
}

/*Title Styles */
.page-title {
  font-weight: 700;
  font-size: 56px;
  
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;

  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color:#2e2f42;
  text-align: center;
  margin-bottom: 72px;
}



.text-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
   line-height: 1.2;
   color:#2e2f42;

   margin-bottom: 8px;

   
}
.small-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

}

.portfolio-list {
  text-align: left;

  display: flex;
 flex-wrap: wrap;
 column-gap: 24px;
 row-gap: 48px;
}
.portfolio-item{
  width: calc((100% - 48px) /3);
}
.portfolio-item .card-text{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/*Button Styles*/
.common-button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
 
  color: #ffffff;
  border: none;
  display: block;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
    padding: 16px 32px;
    
}
.common-button:hover,
.common-button:focus {
  background-color: #404BBF;
}

/*Footer*/
.footer {
  
background-color: #2e2f42;

  padding-top: 100px;
  padding-bottom: 100px;
  
}
.footer .logo{
  display: inline-block;
  margin-bottom: 16px;
}
.footer .small-text{
  max-width: 264px;
  color:#f4f4fd;
}
