/*Major Inherit Styles*/
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
  background-color:#FFFFFF; 
}

.link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 4%;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin:0;
  padding-left: 0;
}
h1,h2,h3,h4,h5,h6,p{
  margin:0;
}


/*Logo styles*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.logo .navy-color-highlight {
  color: #2e2f42;
}

.logo .cloud-color-highlight {
  color: #f4f4fd;
}

/* Header Navigation Styles*/
.navigation-link {
  font-weight: 500;

  
  letter-spacing: 0.02em;

  color: #2e2f42;
  text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
  text-decoration: none;
}
.navigation-link:active {
  color: #404bbf;
  text-decoration: underline;
}

.header-contacts{
  
  font-style: normal;
}

.contact-link {
  color: #434455;
  text-decoration: none;
  letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

header {
  background-color: #ffffff;
}




/* Main Section Styles*/

.ordr-section {
  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
}
.advantages-section {
  background-color: #ffffff;
  text-align: left;
  
}

.team-section {
  background-color: #f4f4fd;
  text-align: center;
}
.team-item{
  background-color: #FFFFFF;
}
/*Title Styles */
.page-title {
  font-weight: 700;
  font-size: 56px;
  
  letter-spacing: 0.02em;
  line-height: 1.07;
}

.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color:#2e2f42;

}



.text-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
   line-height: 1.2;
   color:#2e2f42;
}
.small-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-list {
  text-align: left;
}

/*Button Styles*/
.common-button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
 
  color: #ffffff;
}
.common-button:hover,
.common-button:focus {
  background-color: #404BBF;
}

/*Footer*/
.footer {
  background-color: #2e2f42;
  color:#f4f4fd;
}
